{
  "presets": [
    ["env",{
    modules:false,//preset-env导致tree shaking失效，禁用
    }],
    "stage-0",
    "react"
  ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "import",
            {
                "libraryName":"antd",
                "libraryDirectory":"es",
                "style":"css"
            }
        ]
    ]
}
